body {
  font-family: Lato, sans-serif;
  line-height: 24px;
  color: #2f3f54;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 1 auto;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  border-top: 1px solid #2c7de8;
}

.header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
}

.menu__list {
  display: flex;
}

.menu__list li  {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 1.2;
  font-weight: 700;
  text-transform: uppercase;
  margin-left: 38px;
}

.menu__list li a {
  color: #2f3f54;
}

.menu__item:first-child {
  margin: 0;
}

.landing__row {
  display: flex;
}

.landing {
  background: #2c7de8;
  padding: 160px 0 180px;
}

.landing__text {
  max-width: 555px;
  margin-right: 35px;
  color: #ffffff;
}

.landing__title {
  font-family: Roboto, sans-serif;
  font-size: 48px;
  line-height: 52px;
  font-weight: 900;
  text-transform: uppercase;
  margin-bottom: 25px;
}

.landing__price {
  font-size: 19px;
  font-weight: 700;
  line-height: 28px;
  margin-bottom: 8px;
}

.landing__promo {
  margin-bottom: 35px;
}

.landing__list {
  margin-bottom: 50px;
}

.landing__list li {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 3px;
  padding-left: 25px;
  position: relative;
}

.landing__list li:last-child {
  margin-bottom: 0;
}

.landing__list li::before {
  content: url("../img/icons/landing_li.png");
  position: absolute;
  left: 0;
}

.landing__list li .wordpress {
  vertical-align: center;
  position: relative;
  height: 16px;
  top: 3px;
}

.landing__button {
  display: inline-block;
  text-transform: uppercase;
  color: #ffffff;
  border: 3px solid #ffffff;
  border-radius: 23.5px;
  padding: 10px 40px;
  margin-bottom: 15px;
}

.image__row {
  position: relative;
}

.image__circle {
  height: 230px;
  width: 230px;
  border-radius: 50%;
  background: #ffffff;
  color: #212121;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  z-index: 1;
  position: absolute;
  top: -65px;
  right: -60px;
}

.image__circle div {
  width: 140px;
}

.image__price {
  font-size: 54px;
  font-weight: 700;
  line-height: 1.1;
}

.image__interval {
  text-align: right;
}

.section__title {
  font-family: Roboto, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
}

.section__title span {
  color: #2575e7;
}

.plans {
  padding: 160px 0 180px;
  font-family: Roboto, sans-serif;
}

.plans__text {
  color: #4a6385;
  text-align: center;
  max-width: 600px;
  margin: 40px auto 100px;
}

.plans__text a {
  color: #e74c3c;
}

.plans__text span {
  color: #42d6c1;
}

.plans__row {
  display: flex;
  justify-content: space-between;
}

.plans__item {
  display: flex;
  flex-direction: column;
  padding: 0 50px 60px;
  max-width: 360px;
  box-shadow: 0 21px 49px 1px rgba(41, 44, 61, 0.15);
  position: relative;
  overflow: hidden;
}

.plans__price {
  background: #2575e7;
  height: 465px;
  width: 265px;
  border-radius: 140px;
  position: absolute;
  top: -380px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 30px;
}

.plans__price__parts {
  line-height: 1.1;
  font-weight: 700;
  letter-spacing: 0.04em;
  color: #ffffff;
  text-align: center;
}

.plans__price__parts:nth-child(1) {
  font-size: 23px;
}

.plans__price__parts span:nth-child(2) {
  font-size: 33px;
}

.plans__price__parts:nth-child(3) {
  font-size: 16px;
}

.plans__image {
  padding-top: 120px;
  margin-bottom: 30px;
  align-self: center;
  flex: 1 1 auto;
}

.plans__title {
  font-size: 31px;
  line-height: 50px;
  font-weight: 700;
  color: #267ae9;
}

.plans__desc {
  margin-bottom: 50px;
  font-family: Lato, sans-serif;
}

.plans__list {
  font-size: 16px;
  line-height: 36px;
  letter-spacing: 0.04em;
  color: #4a6385;
  margin-bottom: 75px;
}

.plans__list li {
  position: relative;
  padding-left: 35px;
}

.plans__list li::before {
  content: url("../img/icons/plans_li.png");
  position: absolute;
  left: 0;
}

.plans__button {
  display: block;
  height: 60px;
  background: #267ae9;
  font-size: 17px;
  font-weight: 700;
  line-height: 60px;
  letter-spacing: 0.04em;
  text-align: center;
  text-transform: capitalize;
  color: #ffffff;
  position: absolute;
  padding: 0 10px;
  left: 0;
  right: 0;
  bottom: 0;
}

.feedback {
  padding: 120px 0 105px;
}

.feedback__row {
  display: flex;
  justify-content: space-between;
  margin-top: 140px;
}

.feedback__item {
  max-width: 525px;
  display: flex;
  align-items: stretch;
  box-shadow: 0 21px 49px 1px rgba(41, 44, 61, 0.15);
}

.feedback__image {
  background: #267ae9;
  display: flex;
  align-items: center;
}

.feedback__image img {
  max-height: 120px;
  margin: 38px;
  border-radius: 50%;
}

.feedback__text {
  padding: 70px 50px 60px 40px;
}

.feedback__comment {
  font-size: 16px;
  line-height: 26px;
  color: #4a6385;
  margin-bottom: 25px;
}

.feedback__post {
  font-size: 16px;
  line-height: 30px;
  color: #2f3f54;
}

.feedback__post span {
  font-weight: 700;
  color: #267ae9;;
}

.feedback__slider {
  display: flex;
  justify-content: center;
  margin: 50px auto 0;
}

.feedback__slider > div {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #267ae9;
  margin: 0 5px 0;
  border: 2.5px solid #267ae9;
}

.feedback__slider > div:nth-child(2) {
  background: #ffffff;
}

.partners {
  padding: 100px 0 80px;
  margin: 0 auto;
}

.footer {
  padding: 100px 0 130px;
  background: #2f3f54;
  color: #718db2;
  font-size: 13px;
  line-height: 31px;
}

.footer__row {
  display: flex;
  align-items: flex-start;
}

.footer__columns {
  flex: 1 1 auto;
  display: flex;
  justify-content: space-between;
}

.footer__item {
  flex: 1 0 auto;
}

.footer__title {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: #d0e4ff;
  margin-bottom: 15px;
}

.footer__list a {
  color: #718db2;
}

.footer__brand {
  max-width: 240px;
  font-size: 13px;
  line-height: 22px;
  margin-right: 90px;
  padding-bottom: 30px;
  border-bottom: 1px solid rgba(255, 255, 255, 5%);
}

.footer__brand img {
  margin-bottom: 30px;
}

.footer__form {
  display: flex;
  flex-direction: column;
  font-size: 11px;
  line-height: 1.2;
}

.footer__form input, .footer__form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid rgba(255, 255, 255, 5%);
  background: transparent;
  color: #d0e4ff;
}

.footer__form input::placeholder, .footer__form textarea::placeholder {
  color: #718db2;
}

.footer__form textarea {
  min-height: 85px;
  resize: none;
  margin-bottom: 10px;
}

.footer__form button {
  font-family: Roboto, sans-serif;
  font-size: 13px;
  line-height: 1.2;
  text-transform: uppercase;
  color: #ffffff;
  background: #2575e7;
  padding: 13px;
  align-self: flex-start;
}
